.MainGroupDetailsNav {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    top: 65px;
}

.SubGroupDetailsNav {
    padding-top: 0;
    min-height: 45vh;
    width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    flex-direction: column;
}

.backbuttonDiv {
    display: inline-flex;
    height: 50px;
    align-items: flex-end;
    justify-content: flex-start;

}

.backButton {
    display: inline-block;
    background-color: white;
    border: none;
    color: skyblue;
    font-size: 16px;
}

.backButton:hover {
    text-decoration: underline;
}

.groupInfoDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.groupInfoDiv img {
    height: 300px;
    margin-right: 10px;
    border-radius: 10px;

}

.groupTextTopRightDiv {
    display: flex;
    flex-direction: column;
    min-width: 248px;
    justify-content: space-between;
}

.groupTextTopRightDiv h3 {
    margin-bottom: 2px;
    font-size: 1.25rem;
}

.groupTextTopRightDiv h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: lightslategray;
    font-size: 1rem;
    font-weight: 500;
}

.eventsPrivateDiv {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

.eventsPrivateDiv h4 {
    margin-right: 10px;
    margin-top: 0px;

}

.sessionUserButtons {
    background-color: darkgray;
    border: darkgray solid 1px;
    box-shadow: 1px 2px 2px black;
    color: white;
    padding: 5px 8px 5px 8px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 5px;
}

.groupTextBottomDiv {
    background-color: #F6F6F6;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    margin: 0px;
    margin-bottom: -9px;
}

.subGroupTextBotttomDiv {
    background-color: #F6F6F6;
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.subGroupTextBotttomDiv h3 {
    margin-bottom: 3px;
    font-size: 1.5em;

}

.subGroupTextBotttomDiv h4 {
    margin-top: 5px;
    margin-bottom: 3px;
}

.groupOrganizerUsername {
    font-weight: 500;
    font-size: 15px;
    color: lightslategray;
    margin-bottom: 20px;
}

.aboutHeader {
    margin-top: 20px;
}

.aboutP {
    margin-top: 2px;
    width: 100%;
    height: fit-content;


}

.upcomingEvents {
    margin-bottom: 20px;
}

.groupEventContainer {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.groupEventContainer:hover {
    cursor: pointer;
}

.groupEventPicture {
    height: 175px;
    width: 233px;
    margin-right: 15px;
    object-fit: none;
    border-radius: 10px;
    object-fit: cover;
}

.groupEventContainer h4 {
    font-size: 1.25rem;
}

.groupEventContainer h5 {
    margin: 0px;
    font-size: .9rem;
}

.groupEventsInfo {
    width: 100%;
}

.groupEventsDescriptionP {
    height: fit-content;
    width: inherit;
}



.react-alert-confirm {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    right: 0px;
    bottom: 0;
    font-size: 17px;
    overflow: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.react-alert-confirm div {
    padding: 1px;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding: 7px;

    background-color: white;
    justify-content: center;
}

.react-alert-confirm button {
    background-color: orangered;
    border: orangered 1px solid;
    margin-top: 5px;
    margin-left: 27px;
    margin-right: 27px;
    padding: 5px 7px 5px 7px;
    color: white;
}

.react-alert-confirm h1 {
    font-size: 17px;
    margin-bottom: 0px;
}
