.seeAllGroupsMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 10px 0px 10px;
    min-width: 550px;
}

.seeAllh2 {
    width: 500px;
}

.allEventsContainer p {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.allEventsContainer:hover {
    cursor: pointer;

}

.groupContainer {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 500px;
    margin-bottom: 10px;
}

.allGroupsImg {
    height: 150px;
    width: 255px;
    object-fit: none;
    border-radius: 10px;
    object-fit: cover;
}

.groupContainerDetails {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: flex-start;
}

.groupContainerDetails h3 {
    margin-bottom: 2px;
    margin-top: 0;
    font-size: 19px;
}


.groupContainerDetails h3+h4 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 3px;
    color: gray;
}

.groupContainerDetails p {}

.EventsPrivacyDiv {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    color: gray;
}

.EventsPrivacyDiv h4 {
    margin-right: 5px;
    padding-right: 10px;
    margin-top: 0;
}

.EventsPrivacyDiv :first-child {
    border-right: lightgray 1px solid;
    margin-right: 10px;
}

.EventsPrivacyDiv h4 {

    font-size: 15px;
}
