/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;

}

/* .mainDiv {} */
.main {
    min-width: 600px;
    margin: 0;
    padding: 0;
}


.body {
    margin: 0;
    padding: 0;
}

.mainHeader {
    align-self: flex-start;

}
